In [11]:
import pandas as pd

In [29]:
df = pd.read_csv('wine_dataset.csv')

In [30]:
df.sample(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
384,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5,red
1565,6.7,0.67,0.02,1.9,0.061,26.0,42.0,0.99489,3.39,0.82,10.9,6,red
3232,7.4,0.19,0.49,6.7,0.037,15.0,110.0,0.99380,3.20,0.38,11.0,7,white
3709,6.5,0.22,0.25,17.1,0.050,44.0,138.0,1.00010,3.30,0.37,8.8,5,white
2653,7.0,0.31,0.52,1.7,0.029,5.0,61.0,0.99180,3.07,0.43,10.4,5,white

In [31]:
colors = {'red': 0, 'white': 1}
df['style'] = df['style'].map(colors)

In [32]:
df.sample(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
1149,10.0,0.35,0.47,2.0,0.061,6.0,11.0,0.99585,3.23,0.52,12.0,6,0
4161,6.9,0.32,0.26,2.3,0.030,11.0,103.0,0.99106,3.06,0.42,11.1,6,1
3067,6.5,0.24,0.24,1.6,0.046,15.0,60.0,0.99280,3.19,0.39,9.8,5,1
1735,8.2,0.23,0.40,1.2,0.027,36.0,121.0,0.99200,3.12,0.38,10.7,6,1
2116,7.4,0.15,0.42,1.7,0.045,49.0,154.0,0.99200,3.00,0.60,10.4,6,1

In [33]:
y = df['style']
x = df.drop('style', axis = 1)

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [37]:
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
model1 = ExtraTreesClassifier() 
model2 = RandomForestClassifier()

model1.fit(x_train, y_train)
model2.fit(x_train, y_train)

result1 = model1.score(x_test, y_test)
result2 = model2.score(x_test, y_test)
print(f'Acur치cia ExtraTreesClassifier: {result1}')
print(f'Acur치cia RandomForestClassifier: {result2}')

Acur치cia ExtraTreesClassifier: 0.997948717948718
Acur치cia RandomForestClassifier: 0.9958974358974358

In [43]:
pred1 = model1.predict(x_test)
pred2 = model2.predict(x_test)

In [45]:
from sklearn.metrics import classification_report, confusion_matrix

In [52]:
print('ExtraTrees')
print(classification_report(y_test,pred1))
print('RandomForest')
print(classification_report(y_test,pred2))

ExtraTrees
              precision    recall  f1-score   support

           0       1.00      0.99      1.00       506
           1       1.00      1.00      1.00      1444

    accuracy                           1.00      1950
   macro avg       1.00      1.00      1.00      1950
weighted avg       1.00      1.00      1.00      1950

RandomForest
              precision    recall  f1-score   support

           0       1.00      0.99      0.99       506
           1       1.00      1.00      1.00      1444

    accuracy                           1.00      1950
   macro avg       1.00      0.99      0.99      1950
weighted avg       1.00      1.00      1.00      1950

In [54]:
print('ExtraTrees')
print(confusion_matrix(y_test,pred1))
print('\n')
print('RandomForest')
print(confusion_matrix(y_test,pred2))

ExtraTrees
[[ 503    3]
 [   1 1443]]


RandomForest
[[ 500    6]
 [   2 1442]]